ion-title {
  font-size: 25px !important; /* Atur ukuran font sesuai kebutuhan */
}

.bold-text {
  font-weight: bold !important;
  font-size: 1.2rem !important; /* Sesuaikan ukuran font jika perlu */
}

/* kategori.page.scss */
.kategori-title {
  font-weight: bold !important;
  font-size: 1.5rem !important;
  margin-top: 30px !important;
}

ion-card {
  padding: 15px; /* Atur padding sesuai kebutuhan */
}

ion-content {
  padding-top: 5; /* Mengurangi padding di bagian atas jika perlu */
}



