ion-title {
  font-size: 28px !important; /* Atur ukuran font sesuai kebutuhan */
}

.bold-text {
  font-weight: bold;
  font-size: 2rem !important; /* Sesuaikan ukuran */
  color: black;
}

ion-label {
  color: black; /* Mengubah warna teks menjadi hitam */
}

  ion-item {
    color: black; /* Mengubah warna teks menjadi hitam */
  }



