/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');



/* global.scss */

ion-content {
  --background: #ffffff !important; /* Ubah warna latar belakang ion-content */
}

ion-header ion-toolbar {
  --background: #ffffff !important; /* Ubah warna latar belakang ion-toolbar */
  --color: #0054e9 !important; /* Ubah warna teks ion-title menjadi biru */
}

ion-card{
  border-radius: 10px;
}

ion-button {
  align-items: flex-start;
  margin: 10px;
  padding: 0px;
  font-size: 13px;
  height: 40px;
  font-weight: 500;
  --border-radius:15px;
  --box-shadow: none;
}

ion-item {
  --background: #ffffff !important; /* Ubah warna latar belakang ion-item */
}

ion-input {
  --color: #000000 !important; /* Ubah warna teks ion-input menjadi biru */
}

ion-input input {
  font-size: 18px !important; /* Atur ukuran font sesuai kebutuhan */
  color: #020212 !important; /* Warna teks biru */
}

ion-title {
  --color: #0054e9 !important; /* Warna teks biru */
  font-size: 28px !important; /* Atur ukuran font sesuai kebutuhan */
  font-weight: bold !important; /* Optional: Atur ketebalan font jika diperlukan */
}

.form {
  background-color: var(--ion-color-light) !important;
  padding: 10px; /* Tambahkan padding 20px di atas dan bawah */
  margin: 10px;
}

.custom-button {
  font-size: 24px !important; /* Ukuran ikon */
  height: 40px !important; /* Tinggi tombol */
  width: 40px !important; /* Lebar tombol */
  padding: 0 !important; /* Hapus padding */
  margin: 10px !important; /* Hapus margin */
  --border-radius: 15px !important; /* Border-radius */
  --box-shadow: none !important; /* Hapus box-shadow */
}

/* Footer untuk Produk */
.custom-footer-products {
  background-color: rgba(var(--ion-color-primary-rgb), 0.8) !important; /* Background primary dengan transparansi */
  color: var(--ion-color-primary) !important; /* Teks putih */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Bayangan */
}

/* Footer untuk Home */
.custom-footer-home {
  background-color: rgba(var(--ion-color-primary-rgb), 0.8) !important; /* Background primary dengan transparansi */
  color: rgb(0, 0, 0) !important; /* Teks putih */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Bayangan */
}

:root {
  --ion-color-primary: #007bff; /* Warna primary biru */
  --ion-color-primary-rgb: 0, 123, 255; /* RGB dari warna primary */
}


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
