<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Home</ion-title>
        <ion-buttons slot="end">
      <ion-button routerLink="/akun" class="custom-button">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of menu" size="3">
        <ion-card button class="ion-no-margin ion-text-center menu" [routerLink]="item.link">
<ion-icon class="custom-large-icon" color="primary" [name]="item.icon"></ion-icon>
<div class="menu-label">{{ item.label }}</div>
</ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
