.custom-large-icon {
  padding: 8px;
  margin-top: 7px;
  font-size: 4rem; /* Sesuaikan dengan ukuran yang diinginkan */
  width: 4rem;     /* Sesuaikan ukuran lebar */
  height: 4rem;    /* Sesuaikan ukuran tinggi */
}

// home.page.scss

// Style untuk ion-fab
ion-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

// Style untuk ion-card dengan tidak ada kategori
.ion-card {
  margin: 16px;
}

.add-category-button {
  margin: 16px;
}

// Style untuk ion-button
ion-button {
  margin: 8px;
}
